In [1]:
import pandas
import psycopg2

In [2]:
connection = psycopg2.connect(host='localhost', dbname="rxdb", user='postgres', port=65500)

In [3]:
# query = '''
# select * FROM prod.article_publications LIMIT 10;
# '''
# pandas.read_sql(sql=query, con=connection)

In [4]:
# query = '''
# select * FROM prod.articles;
# '''
# preprint_df = pandas.read_sql(sql=query, con=connection)

In [5]:
# preprint_df.query('doi == "10.1101/087619"')

In [6]:
# query = '''
# select id, doi as preprint_doi, posted FROM prod.articles;
# '''
# preprint_df = pandas.read_sql(sql=query, con=connection)
# preprint_df.head()

In [7]:
query = '''
SELECT
  id AS rxivist_preprint_id,
  prod.articles.doi AS preprint_doi,
  posted AS preprint_date,
  prod.article_publications.doi AS journal_doi,
  paper.publication_dates.date AS journal_date
FROM prod.articles
JOIN prod.article_publications
  ON prod.articles.id=prod.article_publications.article
JOIN paper.publication_dates
  ON prod.articles.id=paper.publication_dates.article;
'''
preprint_df = pandas.read_sql(sql=query, con=connection, parse_dates=['preprint_date', 'journal_date'])
preprint_df.head()

,rxivist_preprint_id,preprint_doi,preprint_date,journal_doi,journal_date
0,28998,10.1101/081075,2016-10-14,10.1021/acssynbio.6b00304,2017-01-24
1,3652,10.1101/215210,2017-11-06,10.1038/s41598-018-27292-6,2018-06-12
2,7159,10.1101/115550,2017-03-12,10.1186/s12859-018-2135-0,2018-04-04
3,3597,10.1101/225623,2017-11-27,10.1111/1755-0998.12921,2018-07-20
4,6490,10.1101/092882,2016-12-09,10.1038/s41467-017-01628-8,2017-11-08

In [8]:
len(preprint_df)

15797

In [9]:
query = '''
SELECT
  article AS rxivist_preprint_id,
  year, month,
  abstract AS preprint_views,
  pdf AS preprint_downloads
FROM prod.article_traffic;
'''
download_df = pandas.read_sql(sql=query, con=connection)
download_df.head()

   rxivist_preprint_id  year  month  preprint_views  preprint_downloads
0                23128  2018      6              13                   3
1                23128  2018      7              12                   3
2                23128  2018      9              20                   2
3                  398  2018      1             283                  56
4                  398  2018      2              44                  22

In [10]:
preprint_df.query('preprint_doi == "10.1101/087619"').merge(download_df)

,rxivist_preprint_id,preprint_doi,preprint_date,journal_doi,journal_date,year,month,preprint_views,preprint_downloads
0,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2016,11,1158,152
1,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2016,12,179,112
2,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,1,114,30
3,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,2,129,43
4,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,3,355,142
5,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,4,111,49
6,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,5,204,81
7,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,8,200,62
8,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,9,492,168
9,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,10,130,61
10,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,11,116,34
11,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,12,71,37
12,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,1,47,19
13,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,2,60,19
14,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,3,72,18
15,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,4,38,8
16,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,5,68,10
17,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,8,91,16
18,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,6,162,73
19,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2017,7,137,60
20,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,6,62,16
21,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,7,63,18
22,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,9,63,27
23,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,10,24,51
24,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,11,43,19
25,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2018,12,31,28
26,3976,10.1101/087619,2016-11-14,10.7554/eLife.26726,2017-09-22,2019,1,17,25